# Explore Overpass API

This notebook is designed to explore the Overpass API and test queries to retrieve train-related data from OpenStreetMap. You can use this to fetch information about train lines, stations, and types of trains.

In [1]:
# Import necessary libraries
import requests
import json
import pandas as pd

# Define the Overpass API endpoint
OVERPASS_URL = "http://overpass-api.de/api/interpreter"

# Function to fetch data from Overpass API
def fetch_overpass_data(query):
    response = requests.get(OVERPASS_URL, params={'data': query})
    if response.status_code == 200:
        return response.json()
    else:
        raise Exception(f"Error fetching data: {response.status_code}")

# Example query to get train stations
train_stations_query = "[out:json]; node['railway'='station']; out;"

# Fetch train stations data
train_stations_data = fetch_overpass_data(train_stations_query)

# Convert the data to a DataFrame for easier analysis
train_stations_df = pd.json_normalize(train_stations_data['elements'])

# Display the first few rows of the DataFrame
train_stations_df.head()

,type,id,lat,lon,tags.addr:city,tags.addr:postcode,tags.fhrs:id,tags.name,tags.naptan:AtcoCode,tags.network,...,tags.contact:mobile,tags.railway:name:VR,tags.railway:scmt,tags.construction:start_date,tags.source:construction:start_date,tags.source:opening_date,tags.description:route_ref,tags.old_name2,tags.underground,tags.phone:FR
0,node,104734,51.565653,-1.785876,Swindon,SN1 1BY,252696,Swindon,9100SDON,National Rail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node,105105,52.053209,-0.026975,NaN,NaN,NaN,Royston,9100ROYSTON,National Rail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node,271281,50.855048,-1.504971,NaN,NaN,NaN,Beaulieu Road,9100BLIEURD,National Rail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node,271323,50.784713,-1.609951,NaN,NaN,NaN,Sway,9100SWAY,National Rail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node,271372,50.755762,-1.657670,NaN,NaN,NaN,New Milton,9100NMILTON,National Rail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Visualizing Train Stations

Now that we have fetched the train stations data, we can visualize it using Folium or any other mapping library.

In [ ]:
# Import Folium for visualization
import folium

# Create a map centered around the average location of train stations
map_center = [train_stations_df['lat'].mean(), train_stations_df['lon'].mean()]
train_map = folium.Map(location=map_center, zoom_start=6)

# Add train stations to the map
for _, station in train_stations_df.iterrows():
    folium.Marker(
        location=[station['lat'], station['lon']],
        popup=station.get('tags.name', 'Train Station')
    ).add_to(train_map)

# Display the map
train_map